body {
    background: #f1f1f1;
    background-image: url("https://fondosmil.com/fondo/9864.jpg");
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
 main{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 1400px;

  }
  
   main-form{
   padding-top: 20px;
  }
  
a.selected{
  color: rgb(124, 16, 16);
}

.selected:before{
  content: '';
  width: 3px;
  height: 80%;
  background: rgb(18, 19, 24);
  position: absolute;
  top: 10%;
  left: -30px;
}

.barra1 {
    background-image: linear-gradient(to right, #000000 0%, #000000 100%);
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0;
}
.boton {
	float: right;
  color: #252121;
}

.dropdown-menu {
    margin: 17px;
    background: #dedfe1;
    color: rgba(11, 11, 11, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.menuperfil {
    color: white;
}

.menuperfil:focus {
    background: #23ae6b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.cerrar:hover {
    background-color: rgba(206, 65, 22, 0.877);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.user {
    font-size: 35px;
}


/*BARRA LATERAL*/

.barra-lateral {
  background-image: linear-gradient(to right, #ffffffa8 0%, #c2c2c28a);
    color: #fff;
    min-width: 250px;
    min-height: 100vh;
    padding: 0;
    
}

.barra-lateral a {
    color: black;
 text-decoration: none;
}


/*ESTILOS MENU*/

.barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    
}

.barra-lateral .menu a:hover {
    background-color: #003C5D;
    text-decoration: none;
}

.active {
    background: #003C5D;
}

.barra-lateral .menu {
    border-top: 0px rgb(14, 14, 14) solid;
}

.barra-lateral .menu a i {
    margin-right: 20px;
}


/*MAIN*/

.main {
    padding-top: 40px;
}

.main .columna {
    padding-left: 40px;
    padding-right: 40px;
}


/*mediaquerys*/

@media screen and (max-width:750px) {
    .barra-lateral {
        min-width: auto;
    }
    .barra-lateral .menu a span {
        display: none;
    }
    .barra-lateral .menu a i {
        margin: 0;
    }
    .barra {
        min-width: auto;
    }
    .dropdown-menu {
        margin: 20px -79px 0px;
    }
}

@media screen and (max-width:675px) {
    .barra-lateral {
        min-height: auto;
    }
    .barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }
    .dropdown-menu {
        margin: 20px -78px 0px;
    }
    .logocppe {
        width: 100%;
    }
    body {
        background: #D3D3D3;
        font-size: 16px;
        overflow: visible;
    }
    
}

.formulariorecursos {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    padding: 20px;
}

.menu {
    border-top: 5px #fff solid;
}

@media screen and (max-width:575px) {
    .barra-lateral {
        height: auto;
    }
    .barra-lateral.menu a  {
        display: inline-block;
        border-bottom: none;
    }
  
    .dropdown-menu {
        margin: 20px -78 0px;
    }
    body {
        font-size: 14px;
        overflow: visible;
    }
        main {
            font-size: 15px;
            overflow: visible;
            margin: 20px -5% 0%;

    }
   
}
.eye{
    position: absolute;
}
#hide1{
    display: none;

}
.con {
 margin-top: 5px;
    background: none;
    padding: 5px;
    border-radius: 4px;
    font-size: 18px;
    color: black;
}