
.navbar {
  background-color: rgba(29, 29, 30, 0.822);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
  }
.bg-dark{
position: fixed;
z-index: 20;
width: 100%;
}



.navg a{
  color: beige;
  font-family: fantasy;
  font-size: 23px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
}

main{
  width: 100%;
	min-height: 100vh;
	background-image: url(../img/fondomelo.avif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.item0{
  width: 100%;
	min-height: 100vh;
	background-image: url(../img/fondomelo.avif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
  scroll-margin-top: 10ex;
  scroll-behavior: smooth;

}
.item1{
  width: 100%;
	min-height: 100vh;
	background-image: url(../img/fondo-acuarela-pintada-mano.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
  scroll-margin-top: 9ex;
  scroll-behavior: smooth;
  
}
.item2{
  width: 100%;
	min-height: 100vh;
	background-image: url();
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
  scroll-margin-top: 8ex;
  scroll-behavior: smooth;
 
}
.item3{
  width: 100%;
	min-height: 100vh;
	background-image: url(../img/bannerfondonegro.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
  scroll-margin-top: 4ex;
  scroll-behavior: smooth;

}
.contenedor-imagen {
    max-width: 100%;
    height: auto;
  }
  
  .contenedor-imagen img {
    width: 100%;
    height: auto;
  }
  .contenedor-parrafo {
    max-width: 100%;
    min-width: 60%;
    font-family: 'Rampart One', cursive;
  }
  
  .contenedor-parrafo p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  @media (min-width: 768px) {
    .contenedor-parrafo p {
      font-size: 1.2rem;
    }
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .carousel-item img {
    max-width: 100%;
  }
  
  #nava{
  color: beige;
  }

  #nava:hover{
    color: rgb(196, 167, 50);
  }
  .form-register {
    width: 754px;
    background: #dfdede;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(20, 20, 20);
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(255, 255, 255);
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #615e5e;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .perfil{
    text-align: center;
    text-transform: uppercase;
  
  }
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
                0 0 25px #03f40f,
                0 0 50px #03f40f,
                0 0 100px #03f40f;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
  }

  .cta {
    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    background: #FBC638 ;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
  }
  
  .cta:focus {
    outline: none;
  }
  
  .cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #000000;
  }
  
  .cta .second {
    transition: 0.5s;
    margin-right: 0px;
  }
  
  .cta:hover  .second {
    transition: 0.5s;
    margin-right: 45px;
  }
  
  .span {
    transform: skewX(15deg)
  }
  
  .second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
  .one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  .two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: #FBC638;
    }
  
    100% {
      fill: white;
    }
  }

  .flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, rgb(175, 192, 176) 60%, rgb(170, 192, 170) 88%,
       rgb(176, 194, 179) 40%, rgba(115, 255, 80, 0.603) 48%);
    color: rgb(0, 0, 0);
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, rgb(203, 217, 200) 30%, rgb(31, 200, 82) 88%,
       rgb(194, 205, 190) 40%, rgb(200, 210, 198) 78%);
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
  }

  .aa {
    width: 60%;
    height: 40px;
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
    
  }
  
  .aa:hover {
    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
                0 0 25px #03f40f,
                0 0 50px #03f40f,
                0 0 100px #03f40f;
  }
  
  .a{
    position: absolute;
    display: block;
  }


  @media (max-width: 767.98px) {
    #section {
      padding-top: 80px;
    }
  }

  .titulos{
    font-family: 'Rampart One', 'cursive';
  }
  .textos{
    font-family: 'Tilt Warp', cursive;
  }
  
  .shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}