<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Interfaz de Operario</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/babdd0dc30.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/ab.css">
    <link rel="stylesheet" type="text/css" href="/css/estilofooter.css">
</head>
<body>


	<div th:fragment="barra">

            <div class="barra-lateral" >
                
              <div class="menu">
                    <img id="logo" src="/img/LOGO SOL WARE .PNG" width="140px">
                    <a  class="option" href="/Solware2/Operario/InicioP" ><i class="fas fa-home" title="Inicio"></i><span>Inicio</span></a>
                    <a  class="option" href="/Solware2/Operario/PerfilO" > <i class="fa-solid fa-user" title="Perfil"></i><span>Perfil</span></a>
                    <a  class="option" href="/Solware2/Operario/ConsultarProduccion" > <i class="fa-solid fa-magnifying-glass"></i><span>Consultar Plan de Producción</span></a>
                </div>
            </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/646c794df3.js"></script>
   
              
</body>
</html>

