<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<title>Editar Cliente</title>
</head>
<body>


	<div class="container">
		<div Class="row">
			<h1>Editar</h1>
		</div>
	
		<section class="form-register" style="margin: auto; margin-top: 20px;">
		
		                     
		                    <form th:action="@{/Solware2/home/C_PedidosA/{ID_Pedido}(ID_Pedido=${Pedido.ID_Pedido})} " th:object="${Pedido}" method="POST" >
                            <input class="controls" type="date" name="Fecha_Pedido" id="Fecha_Pedido" th:field="*{Fecha_Pedido}" >
                            <input class="controls" type="text" name="Total"  th:field="*{Total}" id="Total" >
                            <input class="controls" type="text"name="ID_Cliente"  th:field="*{ID_Cliente}" id="ID_Cliente" >
                            
                            
                            <input type="submit" class="btn btn-info"id="submit"
                            value="Enviar">
                            <input type="reset" name="reset"class="btn btn-info" 
                            value="Restablecer"> 
                            </form>
		

			      </section>

	</div>
</body>
</html>