<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Interfaz de administrador</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<script src="https://kit.fontawesome.com/babdd0dc30.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/css/ab.css">
<link rel="stylesheet" type="text/css" href="/css/estiloPerfilV.css">
<link rel="stylesheet" type="text/css" href="/css/estilofooter.css">
<link rel="stylesheet" type="text/css" href="/css/estiloinventario.css">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row justify-content-center align-content-center">

			<div class="col-7 barra1" style="color: white;"></div>

			<div class="col-5 barra1">
				<div class="dropdown">
					<a class="btn  dropdown-toggle boton text-light" type="button"
						id="dropdownMenuButton1" data-bs-toggle="dropdown"
						aria-expanded="false"> <i class="fas fa-user-circle user"></i>
						Deyvid Gamboa Romero
					</a>
					<ul class="dropdown-menu boton"
						aria-labelledby="dropdownMenuButton1">

						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/Solware2/home/index">Cerrar
							sesión</a>
					</ul>
				</div>

			</div>
		</div>
	</div>


	<div class="container-fluid">
		<div class="row">
			<div class="barra-lateral col-12 col-sm-auto">

				<nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
					<img id="logo" th:src="@{/img/LOGO SOL WARE .PNG}" width="140px">
					<a class="option" th:href="@{/Solware2/home/Admin}"><i
						class="fas fa-home" title="Inicio"></i><span>Inicio</span></a>
					<div class="dropdown">
						<a class=" dropdown-toggle " type="button"
							data-bs-toggle="dropdown" aria-expanded="false"> usuarios </a>
						<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
							<a class="dropdown-item"
								th:href="@{/Solware2/home/ConsultarUs/nuevo}">Registrar
								usuarios</a>
							<a class="dropdown-item" th:href="@{/Solware2/home/ConsultarUs}">Consutar
								usuarios</a>

						</ul>
					</div>


					<div class="dropdown">
						<a class=" dropdown-toggle " type="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Inventarios
						</a>
						<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item"
								th:href="@{/Solware2/home/ModuloInventario}">Crear</a></li>
							<li><a class="dropdown-item"
								th:href="@{/Solware2/home/Consultar}">Consultar</a></li>

						</ul>
						<div class="dropdown">
							<a class=" dropdown-toggle " type="button"
								data-bs-toggle="dropdown" aria-expanded="false"> Proveedor </a>
							<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
								<a class="dropdown-item"
									th:href="@{/Solware2/home/ProveedoresA}">Crear</a>
								<a class="dropdown-item"
									th:href="@{/Solware2/home/C_ProveedoresA}">Consultar</a>

							</ul>
						</div>
						<div class="dropdown">
							<a class=" dropdown-toggle " type="button"
								data-bs-toggle="dropdown" aria-expanded="false"> Productos </a>
							<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
								<a class="dropdown-item" th:href="@{/Solware2/home/ProductosA}">Crear</a>
								<a class="dropdown-item"
									th:href="@{/Solware2/home/C_ProductosA}">Consultar</a>

							</ul>
						</div>
						<div class="dropdown">
							<a class=" dropdown-toggle " type="button"
								data-bs-toggle="dropdown" aria-expanded="false"> Cliente </a>
							<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
								<a class="dropdown-item" th:href="@{/Solware2/home/ClientesA}">Crear</a>
								<a class="dropdown-item" th:href="@{/Solware2/home/C_ClienteA}">Consultar</a>

							</ul>
						</div>
						<div class="dropdown">
							<a class=" dropdown-toggle " type="button"
								data-bs-toggle="dropdown" aria-expanded="false"> pedido </a>
							<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
								<a class="dropdown-item" th:href="@{/Solware2/home/PedidosA}">Crear</a>
								<a class="dropdown-item" th:href="@{/Solware2/home/C_PedidosA}">Consultar</a>

							</ul>
						</div>

						<div class="dropdown">
							<a class=" dropdown-toggle " type="button"
								data-bs-toggle="dropdown" aria-expanded="false"> Ventas </a>
							<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
								<a class="dropdown-item" th:href="@{/Solware2/home/ventasAdmin}">Crear</a>
								<a class="dropdown-item"
									th:href="@{/Solware2/home/ConsultarAdmin}">Consultar</a>

							</ul>
							<div class="dropdown">
								<a class=" dropdown-toggle " type="button"
									data-bs-toggle="dropdown" aria-expanded="false"> Producion
								</a>
								<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
									<a class="dropdown-item"
										th:href="@{/Solware2/home/ProducionAdmin}">Crear</a>
									<a class="dropdown-item"
										th:href="@{/Solware2/home/ConsultarPAdmin}">Consultar</a>
								</ul>
								<div class="dropdown">
									<a class=" dropdown-toggle " type="button"
										data-bs-toggle="dropdown" aria-expanded="false"> Reportes
									</a>
									<ul class="dropdown-menu "
										aria-labelledby="dropdownMenuButton1">
										<a class="option" th:href="@{/Solware2/home/ReportesVA}"><span>ReportesV</span></a>
										<a class="dropdown-item"
											th:href="@{/Solware2/home/ReportesIn}">ReportesIn</a>
										<a class="dropdown-item"
											th:href="@{/Solware2/home/ReportesPro}">ReportesPro</a>
									</ul>
				</nav>
			</div>
			<main class="main col">
				<div
					class="row justify-content-center align-content-center text-center">
					<div class="columna col-lg-6">
						<h1 class="perfil">EDITAR PEDIDO</h1>
						<br>
						<section class="form-register"
							style="margin: auto; margin-top: 20px; width: auto; height: auto">
							<div class="row">
									<form
									th:action="@{/Solware2/home/C_PedidosA/{ID_Pedido}(ID_Pedido=${Pedido.ID_Pedido})} "
									th:object="${Pedido}" method="POST">
										<div class="row">
											<div class="row">
										
										<div class="col-sm-2">
										</div>
											<div class="col-sm-8">
												<label for="Fecha" class="form-label">Fecha</label> <input
													id="Fecha" type="datetime-local" class="form-control" required
													th:field="*{Nombre}"placeholder="Nombre" pattern="[a-zA-ZñÑ\s\.,;:\-_¡!¿\?]+">
											</div>
											<div class="col-sm-2">
										</div>
										</div>
										<div class="row">
										<div class="col-sm-2">
										</div>
											<div class="col-sm-8"style="margin-top: 20px;">
												<label for="Email" class="form-label">Email</label> <input
													id="Email" type="email" class="form-control" required
													th:field="*{Email}" placeholder="Email">
											</div>
											<div class="col-sm-2">
										</div>
										</div>
										<div class="row">
										<div class="col-sm-2">
										</div>
											<div class="col-sm-8"style="margin-top: 20px;">
												<label for="Telefono" class="form-label">Telefono</label> <input
													id="Telefono" type="tel" class="form-control" required
													th:field="*{telefono}"placeholder="Telefono" pattern="[0-9]+">
											</div>
											<div class="col-sm-2">
										</div>

										</div>

										<div class="row">
											<div class="col-md-12">
												<br> <br> <input type="submit"
													class="btn btn-primary" id="submit" onclick="validacion()"
													value="Enviar"> <input type="reset" name="reset"
													class="btn btn-danger" value="Restablecer">
											</div>
										</div>
									</form>
								</div>
							<div class="row">
								
									<input class="controls" type="date" name="Fecha_Pedido"
										id="Fecha_Pedido" th:field="*{Fecha_Pedido}"> <input
										class="controls" type="text" name="Total" th:field="*{Total}"
										id="Total"> <input class="controls" type="text"
										name="ID_Cliente" th:field="*{ID_Cliente}" id="ID_Cliente">
									<div class="row">
										<div class="col-md-12">
											<br> <br> <input type="submit"
												class="btn btn-primary" id="submit" onclick="validacion()"
												value="Enviar"> <input type="reset" name="reset"
												class="btn btn-danger" value="Restablecer">
										</div>
									</div>
								</form>
							</div>
						</section>
					</div>
				</div>
			</main>
</body>
</html>