<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/estiloencabezado.css">
	<link rel="icon" type="image/png" href="img/LOGO SOL WARE .PNG">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

	<title>Encabezado</title>
</head>
<body>
	<div class="container-fluid text-black conte">
		<div class="row">
		<div class="col-md-6">
		<div class="container-fluid"></div>
		<img src="img/LOGO SOL WARE .PNG" width="27%">
		</div>
		<div class="col-md-6">
		<nav class="navbar navbar-expand-sm navbar-dark nav barra" style="top: 59px;padding-left: 378px;">
			
  <!-- Links -->
  <ul class="navbar-nav left letra">
    <li class="nav-item">
      <a href="index.html" class="nav-link active"target="inicio" >Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" target="Nosotros" href="nosotros.html">Nosotros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"target="servicios"  href="Servicios.html">Servicios</a>
    </li>
	<li class="nav-item">
      <a class= "nav-link active" target="" href="#">Contactenos</a>
    </li>
      <a href="inicioSesion.html" class="w3-bar-item w3-button w3-align-rigth nav-link active" target="iniciar sesion">Iniciar sesion</a>
  </ul>
</nav>

</div>
</div>
</div>	
</body>
</html>

