<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<title>Editar Cliente</title>
</head>
<body>

		 <main class="main col">
    <div class="row justify-content-center align-content-center text-center">
        <div class="columna col-lg-6">
            <h1  class="perfil">Enviar Correo</h1><br>


<section class="form-register" style="margin: auto; margin-top: 20px; width: auto; height: 400px">

<div class="row">
<form th:action="@{/Solware2/home/SendMassiveMails}" method="POST">
<div class="row">

  <div class="col-sm-6">
    <label for="Asunto" class="form-label">Asunto</label>
    <input id="Asunto" type="text" name="subject" value="Revision de Asignacion de su Plan de Producción" class="form-control" required>
  </div>
   <div class="col-sm-12">
    <label for="msgBody" class="form-label">Contenido</label>
    <textarea id="msgBody" name="msgBody" class="form-control"required>Estimado Operario Se le solicita revisar en la plataforma si se le ha asignado un Plan de Producción.</textarea>
  </div>
</div>

<div class="row">
<div class="col-md-12">
<br>
<br>
      <input type="submit" class="btn btn-primary"id="submit"
                onclick="validacion()" value="Enviar">   
       <input type="reset" name="reset"class="btn btn-danger" 
                value="Restablecer"> </div>
</div>
</form>
</div>
</div>
</div>
</section>

	</div>
</body>
</html>