<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<title>Producto</title>
</head>
<body>


	<div class="container">
		<div Class="row">
			<h1>CONSULTAR</h1>
		</div>
		<table class="table table-striped table-bordered">

			<thead class="table-dark">
				<tr>
					<th>ID_Producto</th>
					<th>Nombre</th>
					<th>Proveedor</th>
					<th>Tamano</th>
					<th>Precio</th>


				</tr>
			</thead>
			<tbody>
				<tr th:each="productos : ${Producto}">
					<td th:text="${productos.ID_Producto}">ID_Producto</td>
					<td th:text="${productos.Nombre}">Nombre</td>
					<td th:text="${productos.Proveedor}">Proveedor</td>
					<td th:text="${productos.Tamano}">Tamano</td>
					<td th:text="${productos.Precio}">Precio</td>
				</tr>
			</tbody>

		</table>

	</div>
</body>
</html>