<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Interfaz de administrador</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<script src="https://kit.fontawesome.com/babdd0dc30.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/css/ab.css">
<link rel="stylesheet" type="text/css" href="/css/estiloPerfilV.css">
<link rel="stylesheet" type="text/css" href="/css/estilofooter.css">
<link rel="stylesheet" type="text/css" href="/css/estiloinventario.css">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/Ventas.js"></script>



</head>
<body>

	<div class="container-fluid">
		<div class="row justify-content-center align-content-center">

			<div class="col-7 barra1" style="color: white;"></div>

			<div class="col-5 barra1">
				<div class="dropdown">
					<a class="btn  dropdown-toggle boton text-light" type="button"
						id="dropdownMenuButton1" data-bs-toggle="dropdown"
						aria-expanded="false"> <i class="fas fa-user-circle user"></i>
						Deyvid Gamboa Romero
					</a>
					<ul class="dropdown-menu boton"
						aria-labelledby="dropdownMenuButton1">

						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/Solware2/home/index">Cerrar
							sesión</a>
				</div>
				</ul>
			</div>
		</div>
	</div>


	<div class="container-fluid">
		<div class="row">
			<div class="barra-lateral col-12 col-sm-auto">

				<nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
					<img id="logo" th:src="@{/img/LOGO SOL WARE .PNG}" width="140px">
					<a class="option" th:href="@{/Solware2/home/Admin}"><i
						class="fas fa-home" title="Inicio"></i><span>Inicio</span></a>
					<div class="dropdown">
						<a class=" dropdown-toggle " type="button"
							data-bs-toggle="dropdown" aria-expanded="false"> usuarios </a>
						<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
							<a class="dropdown-item"
								th:href="@{/Solware2/home/ConsultarUs/nuevo}">Registrar
								usuarios</a>
							<a class="dropdown-item" th:href="@{/Solware2/home/ConsultarUs}">Consutar
								usuarios</a>

						</ul>
					</div>


					<div class="dropdown">
						<a class=" dropdown-toggle " type="button"
							data-bs-toggle="dropdown" aria-expanded="false"> Inventarios
						</a>
						<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item"
								th:href="@{/Solware2/home/ModuloInventario}">Crear</a></li>
							<li><a class="dropdown-item"
								th:href="@{/Solware2/home/Consultar}">Consultar</a></li>

						</ul>
						<div class="dropdown">
							<a class=" dropdown-toggle " type="button"
								data-bs-toggle="dropdown" aria-expanded="false"> Proveedor </a>
							<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
								<a class="dropdown-item"
									th:href="@{/Solware2/home/ProveedoresA}">Crear</a>
								<a class="dropdown-item"
									th:href="@{/Solware2/home/C_ProveedoresA}">Consultar</a>

							</ul>
						</div>
						<div class="dropdown">
							<a class=" dropdown-toggle " type="button"
								data-bs-toggle="dropdown" aria-expanded="false"> Productos </a>
							<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
								<a class="dropdown-item" th:href="@{/Solware2/home/ProductosA}">Crear</a>
								<a class="dropdown-item"
									th:href="@{/Solware2/home/C_ProductosA}">Consultar</a>

							</ul>
						</div>
						<div class="dropdown">
							<a class=" dropdown-toggle " type="button"
								data-bs-toggle="dropdown" aria-expanded="false"> Cliente </a>
							<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
								<a class="dropdown-item" th:href="@{/Solware2/home/ClientesA}">Crear</a>
								<a class="dropdown-item" th:href="@{/Solware2/home/C_ClienteA}">Consultar</a>

							</ul>
						</div>
						<div class="dropdown">
							<a class=" dropdown-toggle " type="button"
								data-bs-toggle="dropdown" aria-expanded="false"> pedido </a>
							<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
								<a class="dropdown-item" th:href="@{/Solware2/home/PedidosA}">Crear</a>
								<a class="dropdown-item" th:href="@{/Solware2/home/C_PedidosA}">Consultar</a>

							</ul>
						</div>

						<div class="dropdown">
							<a class=" dropdown-toggle " type="button"
								data-bs-toggle="dropdown" aria-expanded="false"> Ventas </a>
							<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
								<a class="dropdown-item" th:href="@{/Solware2/home/ventasAdmin}">Crear</a>
								<a class="dropdown-item"
									th:href="@{/Solware2/home/ConsultarAdmin}">Consultar</a>

							</ul>
							<div class="dropdown">
								<a class=" dropdown-toggle " type="button"
									data-bs-toggle="dropdown" aria-expanded="false"> Producion
								</a>
								<ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
									<a class="dropdown-item"
										th:href="@{/Solware2/home/ProducionAdmin}">Crear</a>
									<a class="dropdown-item"
										th:href="@{/Solware2/home/ConsultarPAdmin}">Consultar</a>
								</ul>
								<div class="dropdown">
									<a class=" dropdown-toggle " type="button"
										data-bs-toggle="dropdown" aria-expanded="false"> Reportes
									</a>
									<ul class="dropdown-menu "
										aria-labelledby="dropdownMenuButton1">
										<a class="option" th:href="@{/Solware2/home/ReportesVA}"><span>ReportesV</span></a>
										<a class="dropdown-item"
											th:href="@{/Solware2/home/ReportesIn}">ReportesIn</a>
										<a class="dropdown-item"
											th:href="@{/Solware2/home/ReportesPro}">ReportesPro</a>
									</ul>
				</nav>
			</div>
			<main class="main col">
				<div
					class="row justify-content-center align-content-center text-center">
					<div class="columna col-lg-12">




						<main class="perfiles">

							<title>Sol y Asociados</title>
							<h1 class="perfile">VENTAS</h1>
							<section class="form-register"
								style="margin: auto; margin-top: 20px; width: 600px; height: 400px">
								<div th:if="${mensaje}">
									<div class="alert alert-danger" role="alert">
										<span th:text="${mensaje}"></span>
									</div>
								</div>
								<div th:if="${exitoso}">
										<div class="alert alert-success alert-dismissible">
											 <span th:text="${exitoso}"></span>
											 <a href="#" class="close" data-dismiss="alert"
												aria-label="close">&times;</a>
										</div>
									</div>	
								<div class="row">
									<form th:action="@{/Solware2/home/ventas}" method="POST">
										<div class="row">
											<div th:if="${error}" class="alert alert-danger" role="alert">
												<span th:text="${error}"></span>
											</div>
											<center>
												<div class="col-sm-6">
													<label class="form-label" for="idPedido">Pedido:</label> <select
														class="form-control" name="idPedido" id="idPedido">
														<option value="" selected disabled hidden>Seleccione
															un pedido</option>
														<option th:each="pedido : ${pedidos}"
															th:value="${pedido.ID_Pedido}"
															th:text="${pedido.ID_Pedido}" />
													</select>

												</div>
										</div>
										</center>

										<div class="row">
											<center>
												<div class="col-sm-6">
													<strong aria-required="true">Tipo De Pago</strong>
													<div class="form-check">
														<input class="form-check-input" type="radio" required
															name="Modo_Pago" id="efectivo" value="Efectivo">
														<label class="form-check-label" for="small">
															Efectivo</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="radio"
															name="Modo_Pago" required id="tarjeta" value="Tarjeta">
														<label class="form-check-label" for="small">Tarjeta</label>
													</div>

												</div>
											</center>
										</div>
										<div class="row">
											<div class="col-md-12">
												<br> <br> <input type="submit"
													class="btn btn-primary" id="submit" onclick="validacion()"
													value="Enviar"> <input type="reset" name="reset"
													class="btn btn-danger" value="Restablecer">
											</div>
										</div>
									</form>
								</div>
					</div>
				</div>
				</section>

			</main>
		</div>
	</div>
	<footer class="pie-pagina">
		<div class="grupo-1">
			<div class="box">
				<figure>
					<a href="#"> <img src="/img/LOGO_SOL_Y_ASOCIADOS.png"
						alt="Logo">
					</a>
				</figure>
			</div>
			<div class="box">
				<h2>SOBRE NOSOTROS</h2>
				<p>Satélite administrativo de terminaciones gráficas</p>
				<p>BOGOTA D.C KR 90-6D 4</p>
				<p>3132877292</p>
			</div>
			<div class="box">
				<h2>SIGUENOS</h2>
				<div class="red-social">
					<a href="#" class="fa fa-facebook"></a> <a href="#"
						class="fa fa-instagram"></a> <a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-youtube"></a>
				</div>
			</div>
		</div>
		<div class="grupo-2">
			<small>&copy; 2022 <b>Sol y Asociados</b> - Todos los
				Derechos Reservados.
			</small>
		</div>
	</footer>





	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/646c794df3.js"></script>

</body>
</html>
